body {
    margin: 0;
    overflow: hidden;
    background-color: #AAA;
}

input {
    vertical-align: middle;
}

.control {
    background-color: #CCC;
    color: black;
    border: solid 0;
    font-size: 10pt;
    vertical-align: middle;
}

.b {
    color: #000;
    font-size: 16pt;
    text-align: center;
}

.w {
    color: #fff;
    font-size: 16pt;
    text-align: center;
}

.candidate {
    background-color: #0A0;
    border: solid 0;
    font-size: 12pt;
    color: green;
    width: 100%;
    height: 100%;
}

.candidate-b {
    border: solid 0;
    font-size: 12pt;
    background-color: #0A0;
    width: 100%;
    height: 100%;
    color: #222;
}
.candidate-w {
    border: solid 0;
    font-size: 12pt;
    background-color: #0A0;
    width: 100%;
    height: 100%;
    color: #DDD;
}

.best-candidate-b {
    border: solid 0;
    font-size: 12pt;
    background-color: #0C0;
    width: 100%;
    height: 100%;
    color: #000;
    font-weight: bold;
}
.best-candidate-w {
    border: solid 0;
    font-size: 12pt;
    background-color: #0C0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.score {
    color: #000;
}

table.board {
    float: left;
    padding: 0px;
    margin: 5px;
    border-collapse: none;
    border-spacing: 0;
}

tr.board {
    border-collapse: none;
    border-spacing: 0;
    padding: 0px;
    margin: 0px;
}

td.board {
    width: 5;
    height: 5;
    padding: 0px;
    margin: 1px;
    width: 50px;
    height: 50px;
    background-color: green;
    border: 1px solid #bbb;
    text-align: center;
}

th.score, td.score {
    width: 75px;
    font-size: 10pt;
    text-align: right;
}

th.info, td.info {
    width: 75px;
    font-size: 10pt;
    text-align: right;
}